/jugevents/target/
/jugevents/pom.xml.tag
/jugevents/pom.xml.releaseBackup
/jugevents/pom.xml.versionsBackup
/jugevents/pom.xml.next
/jugevents/release.properties
/jugevents/dependency-reduced-pom.xml
/jugevents/buildNumber.properties
/jugevents/.mvn/timing.properties

/jugevents/nb-configuration.xml