<html>
<body style="background-color: white; padding: 2em;">
<a href="${baseUrl}/"><img src="${baseUrl}/images/jugeventsLogoReflectedWhite.jpg" alt="JUG Events Logo" style="border: 0; width: 206px; height: 50px;"/></a>
<p>Dear ${participant.firstName} ${participant.lastName},
This is a reminder of the event <a href="${baseUrl}/event/${participant.event.id}"><span style="font-weight: bold;">${participant.event.title}!<span></a></p> organized by ${participant.event.owner.jug.name}.
The event will take place at ${participant.event.location} on ${participant.event.startDate} from ${participant.event.startTime} to ${participant.event.endTime}</p>
<p>If you want to <em>cancel</em> your  participation at this event please use this link:
<p><a href="${baseUrl}/confirm/cancellation.html?email=${participant.email}&code=${participant.confirmationCode}">${baseUrl}/confirm/cancellation.html?email=${participant.email}&code=${participant.confirmationCode}"</a></p>

<p>If You didn't request this <em>reminder</em> action, please ignore this message and
continue to access to <a href="${baseUrl}/">JUG Events</a> as usually. If you want to
signal an abuse, please write to <a href="mailto:info@jugevents.org">info@jugevents.org</a>.</p>

<p>Kind Regards,<br>
<a href="mailto:info@jugevents.org">The JUG Events Team</a></p>
</body>
</html>




