<html>
<body style="background-color: white; padding: 2em;">
<a href="${baseUrl}/"><img src="${baseUrl}/images/jugeventsLogoReflectedWhite.jpg" alt="JUG Events Logo" style="border: 0; width: 206px; height: 50px;"/></a>
<p>Dear <b>${jugger.firstName} ${jugger.lastName}</b>,<br>
we received a request for changing your <a href="${baseUrl}/">JUG Events</a> password.</p>
<p>To change your password, please click on this link:</p>
<p><a href="${baseUrl}/jugger/changePassword.form?username=${username}&code=${oneWayCode}">${baseUrl}/jugger/changePassword.html?username=${username}&code=${oneWayCode}</a></p>
<p>If You didn't requested this <em>password recovery</em> action, please ignore this message and
continue to access to <a href="${baseUrl}/">JUG Events</a> as usually. If you want to
signal an abuse, please write to <a href="mailto:info@jugevents.org">info@jugevents.org</a>.</p>
<p>Best Regards,<br/>
<a href="mailto:info@jugevents.org">The JUG Events Team</a></p>
</body>
</html>