<html>
<body>
<h3>
The jugger identified by ${username} has required to increase his
reliability. </h3>
<div>
  motivation: <br>
  "${motivation}"
</div>
<br>
<div>
  You can grant or revoke his reliablility using this 
  <a href="${baseUrl}/adminjugger/reliability.form?jugger.user.username=${username}">link</a>  
</div>
</body>
</html>